/* universal */

.roboto-200 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

* {
    padding: 0;
    margin: 0;

    font-family: 'roboto-200', sans-serif;
}

body {
    background-color: #ffffff;
}

h1, h2 {
    margin: 20px 0px 15px;
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.25em;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
} 

a:active {
    text-decoration: none;
    color: red;
}

/* header */

header {
    padding: 10px 50px;
    margin-bottom: 20px;

    min-height: 10vh;

    background-color: black;

    box-shadow: 0px 1px gray;

    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;

    font-size: 16px;
}

@media only screen and (min-width: 300px) {
    nav {
        font-size: 24px;
    }
}

header a:link, header a:visited {
    color: white;
}

header a:hover, header a:active {
    text-decoration: none;
    color: gray;
}

.header__page-author {
    display: none;
}

/* main */

main {
    margin: auto;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 80%;
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* section */
/* intro */

.main-section__intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    box-shadow: 0px 1px black;
}

.profile-pic {
    max-height: 200px;
    max-width: 200px;

    border-radius: 50%;
}

.profile-desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-desc__author-name h1{
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.profile-desc__author-desc p {
    text-align: justify;
    font-size: 1.05em;
}

@media only screen and (min-width: 1000px) {
    .profile-desc__author-desc p {
        text-align: center;
        font-size: 1.05em;
    }
}

.profile-desc__more-info {
    margin-bottom: 5px;
    align-self: flex-end;
    font-size: 1.1em;
}

.profile-desc__more-info:link, .profile-desc__more-info:visited {
    color: blue;
}

.profile-desc__more-info:active {
    color: purple;
}

/* projects */

.main-section__projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    box-shadow: 0px 1px black;

    width: 100%;
}

.main-section__projects-container p {
    margin-bottom: 20px;
}

.project-card {
    height: 40%;
    width: 100%;

    background-color: white;
    border-radius: 10px;
    border-color: rgb(167, 167, 167);
    border-width: 1px;
    border-style: solid;
}

.project-card:hover {
    border-color: black;
}

.project-card:active {
    border-color: rgb(0, 110, 255);
    border-width: 2px;
}

.main-section__projects-container a:link, .main-section__projects-container a:visited,
.main-section__projects-container a:hover, .main-section__projects-container a:active {
    text-decoration: none;
    color: black;
}

.project-card__container {
    display: flex;
    flex-direction: row;
}

.project-card__container-image {
    height: 75px;
    width: 100px;

    margin-right: 10px;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.project-card__container-desc {
    padding: 5px 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card__container-desc p {
    text-align: left;
    font-size: 1em;
}

@media only screen and (min-width: 1200px) {
    .main-section__projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        column-gap: 100px;

        padding-bottom: 20px;
    }

    .main-section__projects-container p {
        margin-bottom: 0px;
    }
    .project-card {
        height: 100%;
        width: 100%;

        margin: 0px 25px;
    }

    .project-card__container {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
    }

    .project-card__container-image {
        width: 100%;
        height: 100%;

        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;

        margin: 0;
    }

    .project-card__container-desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 10px;

        line-height: 2.2em;
    }
}

/* contact form */

.main-section__contact-me-container {
    width: 100%;
}

fieldset {
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    font-size: 14px;
}

.contact-form__sender-info {
    width: 90%;

    padding-top: 15px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    font-size: 1em;
}

label {
    width: 50px;
    display: inline-block;
}

input, textarea {
    font-size: 1em;

    padding-left: 3px;
}

textarea {
    resize: none;
    height: 8.4em;
}

.contact-form__message {
    width: 90%;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button-container {
    width: 90%;

    display: flex;
    flex-direction: row;
    gap: 10px;

    padding-bottom: 15px;
}

.btn {
    border-radius: 4px;
    padding: 0px 5px;
    
    /* width: 40%; */
    height: 2em;
}

@media only screen and (min-width: 600px) {
    fieldset {
        display: flex;
        flex-direction: column;
    }

    .contact-form__sender-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }

    .sender-info__name, .sender-info__email {
        width: 45%;

        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

/* aside */

aside {
    text-align: center;

    margin: 15px 0px;
}

/* footer */

footer {
    min-height: 10vh;

    color: white;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 15px;
    margin-top: 20px;
}

footer a:link, footer a:visited {
    color: white;
}

/* about page */

.main-section__about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.main-section__about-container h3 {
    margin: 10px 0px 5px;
}