/* universal */

* {
    padding: 0;
    margin: 0;
}

/* body {
    background-color: rgb(248, 248, 248);
} */

h1, h2, h3 {
    margin: 10px 0px 5px;
}

p {
    text-align: justify;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-top: 10px;

    background-color: black;

    box-shadow: 0px 1px rgb(200, 200, 200);

    color: white;
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    
    margin: 10px 0px;
}

nav a:link {
    text-decoration: none;
    color: white;
}

nav a:visited {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    text-decoration: underline;
}

/* main */

article {
    display: flex;
    flex-direction: column;
}

/* intro */

.main-section__intro-container section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 30px 0px;

    box-shadow: 0px 1px rgb(200, 200, 200);
}

.profile-pic {
    height: 200px;
    width: 200px;

    border-radius: 50%;

    align-self: center;
}

.profile-desc {
    align-self: center;
}

.author-name {
    color: rgb(0, 153, 255);
    font-size: 24px;
    text-align: center;
}

.author-desc {
    text-align: center;
}

/* projects */

.main-section__projects-container {
    box-shadow: 0px 1px rgb(200, 200, 200);
}

.main-section__projects-container h2 {
    color: rgb(0, 153, 255);
}

/* contact form */

.main-section__contact-me-container h2 {
    color: rgb(0, 153, 255);
}

form {
    margin: 10px;
}

fieldset {
    padding: 5px 10px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 8px;
}

/* footer */

.footer__container {
    color: white;
    background-color: black;

    display: flex;
    justify-content: center;
}